#teens_banner {
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/images/other_images/Sunday_Funday_4.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 70vh;
	position: relative;
}

#adults_banner {
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/images/other_images/Spark_Arena.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 70vh;
	position: relative;
}

#teens_div {
	flex-direction: column;
}

#adults_div {
	display: none;
	flex-direction: column;
}
